.oyb { padding: 20px; }
.oyb .oyb-header {
  overflow: auto;
  margin: 10px 0px;
}
.oyb .oyb-header .oyb-title {
  font-size: 2em;
  float: left;
}
.oyb .oyb-header .oyb-date {
  font-size: 1.4em;
  float: right;
  color: gray;
}
.oyb .oyb-nav-links, .oyb .oyb-nav-links-tablet, .oyb .oyb-nav-links-mobile { 
	margin: 30px 0px; 
}
.oyb .oyb-nav-links { 
	display:none;
	grid-column-gap: 5px;
	grid-template-columns: auto auto auto auto auto auto auto auto;	
}
.oyb .oyb-nav-links-tablet { 
	display:none; 
}
.oyb .oyb-nav-links-mobile { 
	display:block; 
}
.oyb-one-column-grid {
	width: 100%; 
	display: block;
}
.oyb-two-column-grid {
	width: 100%; 
	display: grid;
	grid-column-gap: 5px;
	grid-template-columns: auto auto;
}
.oyb-three-column-grid {
	width: 100%; 
	display: grid;
	grid-column-gap: 5px;
	grid-template-columns: auto auto auto;
}
.oyb-four-column-grid {
	width: 100%; 
	display: grid;
	grid-column-gap: 5px;
	grid-template-columns: auto auto auto auto;
}
.oyb-five-column-grid {
	width: 100%; 
	display: grid;
	grid-column-gap: 5px;
	grid-template-columns: auto auto auto auto auto;
}
.oyb .oyb-nav-links .active, .oyb .oyb-nav-links-tablet .active, .oyb .oyb-nav-links-mobile .active {
	background: #008cba;
	color: white;
}

.oyb-version-switcher {
  height: 42px;
  min-width: 120px;
  width:100%;
  margin-bottom: 5px;
  cursor:pointer;
}
.oyb .oyb-nav-button {
  padding: 8px 15px;
  border: 1px solid gray;
  display: inline-block;
  margin-bottom: 10px;
  text-align:center;
  white-space:nowrap;
}
.oyb .oyb-devotional-title {
  font-size: 1.8em;
  color: #008cba;
}
.oyb .oyb-devotional-author {
  font-size: 1.2em;
  color: gray;
  margin: 20px 0px;
}
.oyb .oyb-passage {
  margin-top: 25px;
  display: none;
}
.oyb .oyb-passage .oyb-passage-title {
  font-size: 1.8em;
  margin-bottom: 20px;
  color: #008cba;
}
.oyb .oyb-passage .oyb-passage-text h3 { font-size: 1.4em; }
.oyb .oyb-passage .oyb-passage-text .v {
  color: gray;
  margin-right: 10px;
}
.oyb #oyb-dv-passage {
  display: block; }

a {
  color: black;
  text-decoration: none;
}

select {
  background: transparent;
  width: 70px;
  padding: 0px 15px;
  font-size: 1em;
  line-height: 1;
  border: 1px solid gray;
  border-radius: 0;
  height: 35px;
  -webkit-appearance: none;
}

@media only screen and (min-width: 768px) {
    .oyb .oyb-nav-links {display: none;}
	.oyb .oyb-nav-links-tablet {display: grid;}
	.oyb .oyb-nav-links-mobile {display: none;}
	.oyb-version-switcher {float:none;width:100%;margin-bottom: 5px;}
}
@media only screen and (min-width: 992px) {
    .oyb .oyb-nav-links {display: grid;}
	.oyb .oyb-nav-links-tablet {display: none;}
	.oyb .oyb-nav-links-mobile {display: none;}
	.oyb-version-switcher {float:right;width:auto;margin-bottom: 0px;}
}
