
<div class="oyb"></div>

<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://oybplugin.com/oyb.js"></script>
<link href="https://oybplugin.com/oyb.css" media="screen" rel="stylesheet" />

