.oyb
  Loading...

- if current_user
  %script{src: "/oyb-dev.js", 'data-token' => current_user.token}
- else
  %script{src: "/oyb-dev.js", 'data-token' => User.first.token}

%link{href: "/oyb.css", media: "screen", rel: "stylesheet"}

